*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.announcment
{
width: 100%;
display: flex;
justify-content: space-between;
padding: 8px 10%;
background-color: black;
}
.social
{
    color: rgb(180, 118, 250);
    font-size: 18px;
}
.logo
{
    width: 220px;
}
.nav-item
{
    display: flex;
    justify-content: center;
}
.menu-item
{
    font-size: 20px;
    font-weight: 700;
}
.menu-item:hover
{
    color: blueviolet;
    transition: 0.5s all;
    border-bottom: 1px solid blueviolet;
}
.banner
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(21, 2, 53, 0.5),rgba(17, 0, 39, 0.5)),url('../Images/banner.jpg');
    background-size: cover;
}
.banner-text
{
    padding-top:22% ;
}
.heading
{
    color: white;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 800;
}
.subhead
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.btn
{
    font-weight: 500;
    padding: 8px 20px;
}
.btn-dark:hover
{
    padding: 12px 24px;
    transition: 1s all;
    color: white;
}
.about-btn:hover
{
    padding: 12px 24px;
    transition: 1s all;
    color: white;
}
.about-btn
{
background-color: blueviolet;
color: white;
margin-right: 20px;
}
.features
{
    text-align: center;
    padding: 4%;
    width: 100%;
    background-color: rgba(220, 183, 255, 0.527);
}
.head
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: black;
}
.col-md-4
{
    padding: 2%;
    display: flex;
    justify-content: center;
}
.feature-card
{
    border:5px solid rgb(208, 167, 247);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px;
}
.feature-card:hover{
    box-shadow: 5px 5px 0px 10px blueviolet;
    transition: 0.8s all;
}
.feature-title
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon
{
    font-size: 55px;
    color: crimson;
}
.title
{
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feature-text
{
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
.services
{
    text-align: center;
    padding: 3%;
    background-color: rgb(253, 226, 226);
}
.service-card
{
    background-color: blueviolet;
    border-radius: 20px;
    padding-bottom: 10px;
}
.service-card:hover
{
    transform: scale(1.05);
    transition: 0.8s all;
    box-shadow: 0px 8px 8px 8px rgb(199, 143, 255);
}
.service-img
{
    display: block;
    width: 100%;
    border-radius: 20px;
}
.service-title
{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.service-para
{
    color: rgb(231, 206, 255);
    font-size: 18px;
    font-family: sans-serif;
}
.quote
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)) ,url(../Images/3124512.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-text
{
    color: white;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    padding: 0px 15px;
}
.quote-btn
{
    color: white;
    background-color: blueviolet;
    padding: 8px 12px;
    border-radius: 20px;
}
.quote-btn:hover
{
    background-color: crimson;
    transition: 0.8s all;
    color: white;
}
.team
{
    width: 100%;
    padding: 2%;
    text-align: center;
    background-color: rgba(189, 128, 247, 0.664);
}
.team-name
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.team-title
{
    font-family: sans-serif;
}